*{margin: 0;padding: 0;}
body{background: #252A2F;}
/*header*/
.header{width: 100%;height: 76px;position: relative;}
.header_con{width: 950px;height: 76px;margin:0 auto;position: relative;}
.header img{width: 44px;height: 46px;float: left;position: absolute;margin-top: 15px;}
.header-right{float: right;width: 423px;height: 76px;}
.header-right ul li{float: left;list-style: none;width: 68px;height: 60px;margin: 0 2px;}
.header-right ul li a{text-decoration: none;font-size: 20px;width: 68px;height: 60px;color: #fff;display: block;text-align: center;line-height: 60px;z-index: 9;}
.header-right ul li:first-child{background-color: #9B59B6;}
.header-right ul li a:hover{background-color: #9B59B6;transition:1s all;}

#log_reg{position: absolute;z-index: 99;width: 140px;height: 60px;right: 60px;top: 4px;}
#log_reg li{float: left;width: 69px;height: 60px;}
.cli_login,.cli_signup{width: 69px;height: 60px;display: block;color: #fff;font-size: 20px;text-align: center;line-height: 50px;}
#log_reg li a:hover{background-color: #9B59B6;transition:1s all;}

/*login*/
.login{position: absolute; right: 130px;top: 100px; width: 300px;height: 270px;border:1px solid #eee;border-radius: 5px;z-index: 10;background: #fff;display: none;}
.login:before{content: '';position: absolute;border-right: 20px solid transparent;border-left: 20px solid transparent;border-bottom: 25px solid #9B59B6;top: -26px;right: 20px;}
fieldset:first-child{margin-top: 20px;}
fieldset {border: 0;margin-left: 20px;margin-top: 15px;}
fieldset label{font-size: 14px;color: #6c6c6c;}
fieldset input{width: 260px;height: 34px;border-radius: 5px;border:1px solid #ccc;}
fieldset input:hover{border:1px solid rgba(0,0,0,0.5);}
.checkbox{margin-left: 20px;margin-top: 20px;width: 110px;height: 24px;display: block;}
.btn_login{width: 260px;height: 36px;margin-left: 20px;margin-top: 10px;border: 0;background-color: #9B59B6;color: #fff;cursor: pointer;}
.btn_login:hover{background-color: #000;}
.login_forgot{width: 147px;height: 14px;display: block;margin-top: 20px;margin-left: 20px;font-size: 14px;text-decoration: none;color: #ccc;}
.login_forgot:hover{color: #000;}

/*reg*/
.reg{position: absolute; right: 50px;top: 100px; width: 300px;height: 300px;border:1px solid #eee;border-radius: 5px;z-index: 20;background: #fff;display: none;}
.reg:before{content: '';position: absolute;border-right: 20px solid transparent;border-left: 20px solid transparent;border-bottom: 25px solid #9B59B6;top: -26px;right: 20px;}
.btn_reg{width: 260px;height: 36px;margin-left: 20px;margin-top: 20px;border: 0;background-color: #9B59B6;color: #fff;cursor: pointer;}
.btn_reg:hover{background-color: #000;}

/*content*/
.content{width: 100%;height: 460px;position: relative;margin-top: 100px;}
.content .con{width: 944px;height: 460px;margin: 0 auto;}
.content .con .con_left{width: 425px;height: 302px;float: left;}
.content .con .con_left .title{display: block;width: 425px;height: 122px;font-size: 54px;color: #fff;font-weight: bold;margin-top: 80px;}
.content .con .con_left .para{width: 425px;height: 104px;display: block;color: #fff;margin-top: 15px;}
.content .con .con_left .con_btn{width: 425px;height: 44px;}
.content .con .con_left .con_btn .sig_up{width: 143px;height: 44px;border-radius: 5px;background-color: #9B59B6;color: #fff;border-color: #9B59B6;font-size: 16px;float: left;}
.content .con .con_left .con_btn .learn{float: right;display: block;width: 143px;height: 44px;color: #fff;font-size: 20px;line-height: 36px;}
.content .con .con_left .con_btn .learn:hover{color: #9B59B6;}

.content .con_right{width: 360px;height: 460px;float: right;}
.content .con_right img{width: 300px;height: 460px;}

/*bottom*/
.bottom{ width: 100%;height: 440px;position: relative;background-color: #9B59B6;}
.bottom .bot_con{width: 944px;height: 245px; top:0;right: 0;left: 0;bottom: 0;margin: auto; position: absolute;}
.bottom .bot_con .bot_left{float: left;width: 301px;height: 245px;margin-right: 20px;margin-top: 40px;}
.bottom .bot_con .bot_mid{float: left;width: 301px;height: 235px;margin-right: 20px;margin-top: 40px;}
.bottom .bot_con .bot_right{float: right;width: 301px;height: 235px;margin-top: 40px;}
.bottom .bot_con  .icon{width: 301px;height: 51px;}
.bottom .bot_con  .icon img{margin-left: 115px;}
.bottom .bot_con a{font-size: 20px;color: #fff;font-weight: bold;text-align: center;margin-top: 20px;width: 301px;height: 81px;display: block;text-decoration: none;}
.bottom .bot_con .bot_bot{font-size: 14px;color: #fff;text-align: center;}

/*footer*/
.footer{width: 100%;height: 87px;position: relative;}
.footer .foo_con{width: 944px;height: 87px;margin: 0 auto;}
.footer .foo_con .foo_left{width: 496px;height: 78px;float: left;}
.footer .foo_con .foo_left p{color: #9B59B6;margin-top: 30px;}
.footer .foo_con .foo_right{width: 168px;height: 87px;float: right;}
.footer .foo_con .foo_right li{float: left;list-style: none;width: 17px;height: 20px;margin-right: 17px;overflow: hidden;margin-top: 35px;margin-left: 5px;}
.footer .foo_con .foo_right li a:hover img{margin-top: -30px;}